.meal-menu-grid{
    padding:0 0 1% 5%;
}

.meal-menu-item{
    padding:10px 15px;
    border: 1px solid #333;
        border-right:none;

    background-color: #FFF8EF;}

.meal-menu-item:first-child{
    border-radius: 3px 0 0 3px;
}
.meal-menu-item:last-child{
    border-right:1px solid #333;
    border-radius:0  3px 3px 0; 
}

.meal-menu-item.active{
    background-color: #333;
    color:#FFF8EF;
}


.topInfo{display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top:5%;
}
.difficulty-bar {top:4.2%;
    left:5%;
    border-radius: 8px;
    position: absolute;
    width: 3px;
    height: 29px;
}

/* Tempo */
.top-right-info {
    position: absolute;
    display: flex;
    gap: 5px;
    top:1%;
    right:5%;
}

.info-box {
    background-color: #333;
    color: #FFF8EF;
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
    border-radius: 2px;
    height: 32px;
    font-weight: 500;
    font-size: 12px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2% 5% 2% ;
}