
/* Grid Items */
.grid-layout {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
padding: 0 5%;
box-sizing: border-box;
}


.food-item {
    position: relative;
    border: 1px solid #333;
    border-radius: 2px;
    padding:0 5% 4% 4%;
    background: #FFF8EF;
    overflow: hidden;
}

.difficulty-bar {
  border-radius: 8px;
    position: absolute;
    top: 6%;
    left: 8%;
    width: 4.5px;
    height: 30px;
}

.top-right-info {
    position: absolute;
    top: 3%;
    right: 7%;
    display: flex;
    gap: 5px;
}



.info-box {background-color: #333;
    color: #FFF8EF;
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
    border-radius: 2px;
    height: 32px;
    font-weight:500;
    font-size: 12px ;
}

/* Immagine */
.food-item img {
    width: 100%;
    height: auto;
    display: block;
}

/* Basso: titolo + freccia */
.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2%;
   
}

.bottom-row h3 {
    font-size: 0.8rem;
    margin:5%;
}

.arrow {
    font-size: 1rem;
    cursor: pointer;
    padding-right: 5%;
}