
/* Layout lista */
@media (max-width: 768px) {
    .list-layout .food-item {
    display: flex !important;
    flex-direction: column !important;
}
.list-layout .food-item img {
    width: 100%;
    height: auto;
    margin:0; 
    padding: 0;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #333;  
}

}
@media (min-width: 769px) {

}


.list-layout {
    display: flex;
    flex-direction: column !important;
    gap: 15px;
    padding:0 5%;
}

.list-layout .food-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px solid #333;

}

.list-layout .food-item img {
    width: 30%;
    height: auto;
    margin:0; 
    padding: 0;
    border-radius: 2px 0 0 2px;
    border-right: 1px solid #333;  
}

.infoList{margin: 5%;
}

.difficulty-wrapper {
    display: inline-block;       
    width: fit-content;
}

.difficulty-text {
    display: inline-block;           
    white-space: nowrap;   
    
}

.difficulty-bar-list {
    height: 4px;
    width: 100%;      
    margin-top: 3px;
    border-radius: 2px;
}


.list-right{
    padding:  5%
}
.list-layout .list-right h3 {
    margin-top: 0;
    padding-bottom:5px;
    font-size: 20px;
}

.list-layout p{padding:5px 0}

.list-layout .arrow {
    margin-top: 10px;
    right:0;
    cursor: pointer;
}


